@import '../../Variable/Colors';
@import '../../Variable/Fonts';

footer {
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    background-color: $white;
    box-shadow: 0px -2px 5px 0px #dedcdc;


 }