.gallery {
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:3;
    column-gap:5px;
    img {
        width: 100% !important;
        height: auto !important;
        margin-bottom:5px; /* to match column gap */
        box-shadow: 1px 1px 7px 0px #c8c5c591;
     }
 }

 @media only screen and (max-width: 600px) {

    .gallery {
        line-height:0;
        -webkit-column-count:5; /* split it into 5 columns */
        -webkit-column-gap:5px; /* give it a 5px gap between columns */
        -moz-column-count:5;
        -moz-column-gap:5px;
        column-count:2;
        column-gap:2px;
        img {
            width: 100% !important;
            height: auto !important;
            margin-bottom:5px; /* to match column gap */
            box-shadow: 1px 1px 7px 0px #c8c5c591;
         }
     }
}
 