@import '../../Variable/Colors';
@import '../../Variable/Size';
@import '../../Variable/Fonts';
@import '../../Variable/position';
@import '../../Common/image';
@import '../../Common/dropDown';
@import './commonHeader';

$sizeFontProfileSide:18px;



@media only screen and (min-width: 1025px) {
    .big-size
    {
        display: none;
        
    }
    .min-size{
        display: none !important;
    }
    .main-page{
        margin-top: 110px;
        position: relative;
      }
    
}

@media only screen and (max-width: 1025px) {
    .big-size
    {
        display: none !important;
    }
    .min-size
    {
        display: block;
    }
    .main-page{
        margin-top: 10px;
        position: relative;
      }
}

.contain-header
{
    display: grid;
    grid-template-columns: 20% 55% 25%;
    gap: 1rem;
    @include bcHeader();
    
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1000000;
    padding-left: 3%;
    padding-right: 3%;
    min-height: 72px;
    background-color: #fff;
    -webkit-box-shadow: 0 0.75rem 1.5rem #12263f08;
    box-shadow: 0 0.75rem 1.5rem #12263f08;
    border-bottom: 1px solid #eee;
}
.tools
{
    display: grid;
    grid-template-columns: 30% 30% 40%;
    text-align: center;
    align-items: center;
   
}

.user-img>.user-image-prof>img
{
    width: 60px;
    border-radius: 50%; 
    height: 60px;
}
.user-image-prof>img
{
    width: 60px;
    border-radius: 50%; 
    height: 60px;
}
.logo
{
    display: flex;
    justify-content: left;
    align-items: center;
    color: $dashboardUserMenuColor;
}

.logo > h4
{
   font-family: $font-family;
   width: max-content;
}

.notification
{
    color: $dashboardHeaderRed;
    font-size: xx-large;
    cursor: pointer;
}

.user-message
{
    color: #ecb103f7;
    font-size: xx-large;
    cursor: pointer;
}

.search
{
    position: relative;
}

.search-icon
{
    position: absolute;
    right: 1px;
    top: 1px;
    font-size: larger;
    color: $dashboardHeaderRed;
    background: gainsboro;
    height: 95%;
    width: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.min-header
{
    @include bcHeader();
    padding: .4rem;
}
.menu-side
{
    @include menuSide($gray);
}
.menu-right
{
    text-align: right;
}

.menu-icon-header
{
    color: #222260;
    padding: .1em;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    border: 1px solid #2222602e;
}

.sidepanel  {
   @include ProfileSidePanel();
  

  }

  .sidepanel a {
   @include ProfileSidePanelA();
  }
  
  .sidepanel .closebtn {
    @include ProfileSidePanelColse();
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color:#444;
  }
  .side-menu-header
  {
      @include ProfileSidePanleHeader();
  }
  .side-menu-header:hover, .side-menu-header:focus
  {
      background: #bebbd0;

  }
  .icon-side-menu-header >i
  {
      color: $dashboardUserMenuColor;
      font-size: $sizeFontProfileSide;
  }
  .menu-icon
  {
      font-size: $sizeFontProfileSide;
      color: $dashboardUserMenuColor;
      margin-right: 1rem;
      cursor: pointer;
  }


  .contain-all
  {
    display: grid;
    grid-template-columns: $widthSideMenuUser auto;
    gap: 10px;
  }
  .contain-all-close-menu
  {
    display: grid;
    grid-template-columns: 0px auto;
   
  }
